body {

  background: 
    linear-gradient(

      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
      ),
    url(https://images.pexels.com/photos/313691/pexels-photo-313691.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);

  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
.section {
  height: 100vh;
}

#navbar1 {
  background-color:transparent !important;
}

.gcards {
  height: 100%;
}

#gallery {
  height: 50vh;
}

.sub {
  font-size: .75rem;
}

* {
  font-family: "Raleway", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Great Vibes", cursive;
}